.reset{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Ubuntu', sans-serif;
	min-height:100vh;
	display:flex;
    flex-direction:column;
    background-image:url(../picture/leather.png);
}

/* remove the scroll horizontal on page */
body, html{
    overflow-x: hidden;
    overflow-y:scroll;
    /* overflow-y: hidden; */
}

.content row{
	width:100%;
}

.myHeader{
    background-color:#EBE3E0;
    border-bottom:1px solid rgb(179, 177, 177);
}

.myName h1{
	background-color:#EDD5D1;
	width:max-content;
	color:#948282;
    padding:25px;
}

/* padding auto is not working so deleted */
.myNav{
    margin:auto;
    padding-right:70px;
}

.nav{
    /* float:right doesnt work cause float will be
      ignored in flex box */
    justify-content: flex-end;
    background-color:white;

}

.nav-link{
    color:rgb(100, 98, 98);
    margin:10px 5px;
    padding:3px;
}

.navHover:hover{
    color:white;
    background-color:rgb(191, 190, 190);
    border-radius:20%;
    transform:scale(1.2);
    transition: all 0.5s;
}

.active{
    color:white;
    background-color:rgb(191, 190, 190);
    border-radius:20%;
}

.headerLine{
    width:100%;
	height:1px;
	background:rgb(179, 179, 179);
}

.contentHeader{
    margin:0px 0px;
    padding:0px 0px;
	color:#948282;
	font-size:25px;
	margin:10px 0px 20px 0px;
}

.contentHeader h2{
    margin:0px 10px;
}

.content{
    margin:20px;
    padding:20px;
}

.myHeader{
    background-color:white;
}

.myHeader h1{
    margin:0px 56px;
    font-size:45px;
    padding:20px 25px;
}

.contentBox{
	border:1px solid #d3d3d3;
	border-radius:1%;
    padding:10px 35px 25px 35px;
    background-color:white;
}

.floatMy{
	float:left;
    width:200px;
    height:200px;
    margin:0px 20px;
}

.card-body{
    margin:auto auto;
}

.card-text strong{
    color:rgb(230, 163, 153);
}

.contentHeader h2{
    font-size:28px;
    padding-bottom: 10px;
}

.myContainer{
    flex:1; 
}

.footer{
    border-top:1px solid rgb(214, 203, 203);
    padding-top:5px;
	height:60px;
	background-color:rgb(243, 210, 204);
	color:#948282;
    text-align:center;
}

/* .footer span{
    position: absolute;
    margin-top:20px;
} */

.card:hover{
    /* transform: scale(1.1); */
    transform: scale(1.1) translate(0%, -8%);
    /* transform: translate(0%, 20%); */
    transition: all 1s;
}

.card-img-overlay{
	margin:0px;
    padding:0px;
}

.card-img-overlay a{
	text-decoration:none;
    color:#9e6262;
    font-weight:2rem;
    margin:0px;
    padding:0px;	
}

.card p{
	position:absolute;
	width:100%;
	height:40px;
	bottom:5px;
	background-color:#EDD5D1;
	text-align:center;
	padding-top:10px;	
}

.card p:hover{
    background-color:rgb(218, 195, 191);
}

.card-img-overlay a:hover{
    color:white;
}

.card-text{
    word-wrap:none;
}

.myPortAll{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.contentPara .myPort{
    padding:10px;
    flex:0 1 auto;
    width:auto;
    height:auto;
    margin:auto;
}

.btn:hover{
    transform:scale(1.1);
    transition:all 1s;
}

/* adding profile */
#indexIntro a{
    color: rgb(230, 163, 153);
}

@media screen and (max-width:670px){
    
    .myHeader h1{
        margin:0px 0px;
    }

    .myName h1{
        background-color:#EDD5D1;
        width:100%;        
        text-align:center;
        color:#948282;
        padding:20px 25px;
        font-family: 'Ubuntu', sans-serif;
    }

    .nav{
        justify-content: center;
        align-items: center;
        height:60px;
    
    }
    
    .myNav{
        padding-right:0px;
        height:60px;
    }

    /* using flex box to locate the picture */

    .picture{
        display:flex;
        flex-direction: column;
    }

    .floatMy{
        flex:1;
		width:70%;
        height:auto;
        align-self: center;
    }

    .card:hover{
        transform: scale(1.0) translate(0%, 0%);
    }

    /* .myPortAll{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
    }
    .contentPara .myPort{
        padding:10px;
        flex:0 1 auto;
        align-self: center;
        width:80%;
        height:auto;
    } */
}

@media screen and (min-width:671px) and (max-width:767px){
    .myHeader h1{
        margin:0px 0px;
    }
    
    .myName h1{
        background-color:#EDD5D1;
        width:100%;        
        text-align:center;
        color:#948282;
        padding:20px 25px;
        font-family: 'Ubuntu', sans-serif;
    }

    .nav{
        justify-content: center;
        align-items: center;
        height:60px;
    }

    .myNav{
        padding-right:0px;
        height:60px;
    }

    .card:hover{
        transform: scale(1.0) translate(0%, 0%);
    }

    /* .myPortAll{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
    }
    .contentPara .myPort{
        padding:10px;
        flex:0 1 auto;
        align-self: center;
        width:77%;
        height:auto;
    } */

}

@media screen and (min-width:769px) and (max-width:980px){
    /* .myPortAll{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
    } */

    /* .contentBox{
        padding:30px;
    }

    .contentPara .col-sm-12, .col-md-6{
        padding:10px;
    } */
}

@media screen and (min-width:981px){
    /* .content{ */
        /* width:950px; */
        /* margin-left:10%; */
        /* margin:auto; */
        /* margin-right:auto; */
    /* } */

    /* .contentBox{
        padding:50px;
    }

    .contentPara .col-sm-12, .col-md-6{
        padding:50px;
    } */
/* 
    .myName h1{
        margin-left:18%;
    } */
/* 
    .myNav{
        padding-right:10%;
    } */
}