.reset{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Ubuntu', sans-serif;
	min-height:100vh;
	display:flex;
    flex-direction:column;
    background-image:url(../Picture/leather.png);
}

.content row{
	width:100%;
}

.myHeader{
    background-color:rgb(243, 241, 241);
    border-bottom:1px solid rgb(179, 177, 177);
}

.myName h1{
	background-color:#4aaaa5;
	width:max-content;
	color:#ffffff;
	padding:25px;
}

.myNav{
    margin:auto;
    padding:auto;
    padding-right:70px;
}

.nav{
    /* float:right doesnt work cause float will be
      ignored in flex box */
    justify-content: flex-end;
    background-color:white;

}

.nav-link{
    color:rgb(100, 98, 98);
    padding:10px 5px;
}

.nav-link:hover{
    color:rgb(112, 111, 111);
    background-color:rgb(191, 190, 190);
    border-radius:20%;
}

.headerLine{
    width:100%;
	height:1px;
	background:rgb(179, 179, 179);
}

.contentHeader{
    margin:0px 0px;
    padding:0px 0px;
	color:#4aaaa5;
	font-size:25px;
	margin:10px 0px 20px 0px;
}

.contentHeader h2{
    margin:0px 10px;
}

.content{
    margin:20px;
    padding:20px;
}

.myHeader{
    background-color:white;
}

.myHeader h1{
    margin:0px 56px;
    font-size:45px;
    padding:20px 25px;
}

.contentBox{
	border:1px solid #d3d3d3;
	border-radius:1%;
    padding:10px 15px;
    background-color:white;
}

.floatMy{
	float:left;
    width:200px;
    height:200px;
    margin:0px 20px;
}

.card-body{
    margin:auto auto;
}

.contentHeader h2{
    font-size:28px;
    padding-bottom: 10px;
}

.myContainer{
    flex:1; 
}

.footer{
	border-top:5px solid rgb(160, 159, 159);
	height:50px;
	background-color:#4aaaa5;
	color:white;
    text-align:center;
}

.footer span{
    margin-top:20px;
}

.card-img-overlay{
	margin:0px;
	padding:0px;	
}

.card-img-overlay a{
	text-decoration:none;
    color:white;
    margin:0px;
    padding:0px;	
}

.card p{
	position:absolute;
	width:100%;
	height:40px;
	bottom:5px;
	background-color:#4aaaa5;
	text-align:center;
	padding-top:10px;	
}

.card-text{
    word-wrap:none;
}

.myPortAll{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.contentPara .myPort{
    padding:10px;
    flex:0 1 auto;
    width:350px;
    height:auto;
}

@media screen and (max-width:670px){
    
    .myHeader h1{
        margin:0px 0px;
    }

    .myName h1{
        background-color:#4aaaa5;
        width:100%;        
        text-align:center;
        color:#ffffff;
        padding:20px 25px;
        font-family: 'Ubuntu', sans-serif;
    }

    .nav{
        justify-content: center;
        align-items: center;
        height:60px;
    
    }
    
    .myNav{
        padding-right:0px;
        height:60px;
    }

    /* using flex box to locate the picture */

    .picture{
        display:flex;
        flex-direction: column;
    }

    .floatMy{
        flex:1;
		width:280px;
        height:auto;
        align-self: center;
    }

    .myPortAll{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
    }
    .contentPara .myPort{
        padding:10px;
        flex:0 1 auto;
        align-self: center;
    }

}

@media screen and (min-width:671px) and (max-width:768px){
    .myHeader h1{
        margin:0px 0px;
    }
    
    .myName h1{
        background-color:#4aaaa5;
        width:100%;        
        text-align:center;
        color:#ffffff;
        padding:20px 25px;
        font-family: 'Ubuntu', sans-serif;
    }

    .nav{
        justify-content: center;
        align-items: center;
        height:60px;
    }

    .myNav{
        padding-right:0px;
        height:60px;
    }

    .myPortAll{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
    }
    .contentPara .myPort{
        padding:10px;
        flex:0 1 auto;
        align-self: center;
    }



}

@media screen and (min-width:769px) and (max-width:980px){
    .myPortAll{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
    }
}

@media screen and (min-width:981px){
    .content{
        width:850px;
        margin-right:auto;
    }

    .myPortAll{
        justify-content: center;
    }
}